# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create a data dictionary that looks like the DataFrame below

In [2]:
data={'evolution':['Ivysaur','Charmeleon','Wartortle','Metapod'],'hp':[45,39,44,45],
 'name':['Bulbasaur','Charmander','Squirtle','Caterpie'],'pokedex':['yes','no','yes','no'],
 'type':['grass','fire','water','bug']}

### Step 3. Assign it to a variable called pokemon

In [3]:
pokemon=pd.DataFrame(data)

In [4]:
pokemon

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [9]:
pokemon=pokemon[['name','type','hp','evolution','pokedex']]

In [10]:
pokemon

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [12]:
pokemon['place']=['Chennai','Madurai','Tirunelveli','Trichy']

<ipython-input-12-977a6049f64d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pokemon['place']=['Chennai','Madurai','Tirunelveli','Trichy']

In [13]:
pokemon

         name   type  hp   evolution pokedex        place
0   Bulbasaur  grass  45     Ivysaur     yes      Chennai
1  Charmander   fire  39  Charmeleon      no      Madurai
2    Squirtle  water  44   Wartortle     yes  Tirunelveli
3    Caterpie    bug  45     Metapod      no       Trichy

### Step 6. Present the type of each column

In [14]:
pokemon.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object

### BONUS: Create your own question and answer it.

### Sort the hp in descending order

In [18]:
pokemon.hp.sort_values(ascending=False)

3    45
0    45
2    44
1    39
Name: hp, dtype: int64