### The questions for the exercises are given above the cells and the expected output is given below the cell. Please type the code inserting a new cell below the question because if you run the expected output cell the output would vanish! Happy learning!

## Exercise Question 1: Given an input list removes the element at index 4 and add it to the 2nd position and also, at the end of the list

In [15]:
#Original list
list_1=[34,54,67,89,11,43,94]

In [16]:
#Removing Element at Index4
pop_val=list_1.pop(4)
list_1

[34, 54, 67, 89, 43, 94]

In [17]:
#Inserting value at position 2
list_1.insert(2,11)
list_1

[34, 54, 11, 67, 89, 43, 94]

In [18]:
#List after adding element at last
list_1.append(11)
print(list_1)

[34, 54, 11, 67, 89, 43, 94, 11]

Original list  [34, 54, 67, 89, 11, 43, 94]
List After removing element at index 4  [34, 54, 67, 89, 43, 94]
List after Adding element at index 2  [34, 54, 11, 67, 89, 43, 94]
List after Adding element at last  [34, 54, 11, 67, 89, 43, 94, 11]

## Exercise Question 2: Given a Python list you should be able to display Python list in the following order

In [22]:
list_2=[100,200,300,400,500]

In [27]:
#Reversing the List
list_2[::-1]

[500, 400, 300, 200, 100]

The Original List is: [100, 200, 300, 400, 500]
The Expected result is:  [500, 400, 300, 200, 100]

## Exercise Question 3: Concatenate (join) two lists in the following order

In [28]:
list_3=['Hello','take']
list_4=['Dear','Sir']

In [33]:
#Concatenating two Lists
list_3+list_4

['Hello', 'take', 'Dear', 'Sir']

'Hello take'

The original list1: ['Hello ', 'take ']
The original list2: ['Dear', 'Sir']
The Expected result is: ['Hello ', 'take ', 'Dear', 'Sir']

## Exercise Question 4: Add item 7000 after 6000 in the following Python List

In [59]:
list_5=[10,20,[300,400,[5000,6000],500],30,40]

In [61]:
#Added item 7000 after 6000 in the following Python List
list_5[2][2].append(7000)

In [62]:
list_5

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

The original list is: [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
The expected list is: [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

## Exercise Question 5: Given a nested list extend it with adding sub list ["h", "i", "j"] in a such a way that it will look like the

In [68]:
list_6=['a', 'b', ['c', ['d', 'e', ['f', 'g'], 'k'], 'l'], 'm', 'n']

In [69]:
#Adding Sub list['i','j','k']
list_6[2][1][2].extend(['h','i','j'])
list_6

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

The original List is: ['a', 'b', ['c', ['d', 'e', ['f', 'g'], 'k'], 'l'], 'm', 'n']
The expected result is: ['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

## Exercise Question 6: Given a Python list, find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of a value

In [70]:
list_7=[5, 10, 15, 20, 25, 50, 20]

In [75]:
#Replacing the value 20 with 200
list_7[3]=200

In [74]:
list_7

[5, 10, 15, 200, 25, 50, 20]

The original list is: [5, 10, 15, 20, 25, 50, 20]
The expected output is: [5, 10, 15, 200, 25, 50, 20]