# Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [61]:
chipo=pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv')

### Step 4. See the first 10 entries

In [7]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [8]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [12]:
len(chipo.columns)

5

### Step 7. Print the name of all the columns.

In [11]:
print(chipo.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [13]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most ordered item?

In [34]:
chipo.groupby('item_name').count().sort_values(by='order_id',ascending=False)

,order_id,quantity,choice_description,item_price
item_name,,,,
Chicken Bowl,726,726,726,726
Chicken Burrito,553,553,553,553
Chips and Guacamole,479,479,0,479
Steak Burrito,368,368,368,368
Canned Soft Drink,301,301,301,301
Steak Bowl,211,211,211,211
Chips,211,211,0,211
Bottled Water,162,162,0,162
Chicken Soft Tacos,115,115,115,115
Chicken Salad Bowl,110,110,110,110
Chips and Fresh Tomato Salsa,110,110,0,110
Canned Soda,104,104,104,104
Side of Chips,101,101,0,101
Veggie Burrito,95,95,95,95
Barbacoa Burrito,91,91,91,91
Veggie Bowl,85,85,85,85
Carnitas Bowl,68,68,68,68
Barbacoa Bowl,66,66,66,66
Carnitas Burrito,59,59,59,59
Steak Soft Tacos,55,55,55,55
6 Pack Soft Drink,54,54,54,54
Chips and Tomatillo Red Chili Salsa,48,48,0,48
Chicken Crispy Tacos,47,47,47,47
Chips and Tomatillo Green Chili Salsa,43,43,0,43
Carnitas Soft Tacos,40,40,40,40
Steak Crispy Tacos,35,35,35,35
Chips and Tomatillo-Green Chili Salsa,31,31,0,31
Steak Salad Bowl,29,29,29,29
Nantucket Nectar,27,27,27,27
Barbacoa Soft Tacos,25,25,25,25
Chips and Roasted Chili Corn Salsa,22,22,0,22
Chips and Tomatillo-Red Chili Salsa,20,20,0,20
Izze,20,20,20,20
Veggie Salad Bowl,18,18,18,18
Chips and Roasted Chili-Corn Salsa,18,18,0,18
Barbacoa Crispy Tacos,11,11,11,11
Barbacoa Salad Bowl,10,10,10,10
Chicken Salad,9,9,9,9
Carnitas Crispy Tacos,7,7,7,7
Veggie Soft Tacos,7,7,7,7
Burrito,6,6,6,6
Veggie Salad,6,6,6,6
Carnitas Salad Bowl,6,6,6,6
Steak Salad,4,4,4,4
Bowl,2,2,2,2
Salad,2,2,2,2
Crispy Tacos,2,2,2,2
Chips and Mild Fresh Tomato Salsa,1,1,0,1
Carnitas Salad,1,1,1,1
Veggie Crispy Tacos,1,1,1,1

### Step 10. How many items were ordered?

In [39]:
chipo.item_name.nunique()

50

### Step 11. What was the most ordered item in the choice_description column?

In [49]:
chipo.groupby('choice_description').count().sort_values('order_id',ascending=False)

,order_id,quantity,item_name,item_price
choice_description,,,,
[Diet Coke],134,134,134,134
[Coke],123,123,123,123
[Sprite],77,77,77,77
"[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]",42,42,42,42
"[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]",40,40,40,40
...,...,...,...,...
"[Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Cheese, Guacamole, Lettuce]]",1,1,1,1
"[Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Cheese, Sour Cream, Guacamole]]",1,1,1,1
"[Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Guacamole, Lettuce]]",1,1,1,1
"[Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Guacamole]]",1,1,1,1
"[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Green Chili Salsa (Medium)], [Rice, Pinto Beans, Fajita Veggies, Lettuce]]",1,1,1,1

### Step 12. How many items were orderd in total?

In [51]:
chipo.quantity.sum()

4972

### Step 13. Turn the item price into a float

In [62]:
chipo.item_price=chipo.item_price.apply(lambda x:float(x.split('$')[1]))

In [64]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

### Step 14. How much was the revenue for the period in the dataset?

In [67]:
chipo.item_price.sum()

34500.16

### Step 15. How many orders were made in the period?

In [71]:
chipo['order_id'].iloc[-1]

1834

### Step 16. What is the average amount per order?

In [74]:
chipo.groupby('order_id').agg({'item_price':np.mean})

          item_price
order_id
1           2.890000
2          16.980000
3           6.335000
4          10.500000
5           6.850000
...              ...
1830       11.500000
1831        4.300000
1832        6.600000
1833       11.750000
1834        9.583333

[1834 rows x 1 columns]

### Step 17. How many different items are sold?

In [76]:
chipo.item_name.unique()

array(['Chips and Fresh Tomato Salsa', 'Izze', 'Nantucket Nectar',
       'Chips and Tomatillo-Green Chili Salsa', 'Chicken Bowl',
       'Side of Chips', 'Steak Burrito', 'Steak Soft Tacos',
       'Chips and Guacamole', 'Chicken Crispy Tacos',
       'Chicken Soft Tacos', 'Chicken Burrito', 'Canned Soda',
       'Barbacoa Burrito', 'Carnitas Burrito', 'Carnitas Bowl',
       'Bottled Water', 'Chips and Tomatillo Green Chili Salsa',
       'Barbacoa Bowl', 'Chips', 'Chicken Salad Bowl', 'Steak Bowl',
       'Barbacoa Soft Tacos', 'Veggie Burrito', 'Veggie Bowl',
       'Steak Crispy Tacos', 'Chips and Tomatillo Red Chili Salsa',
       'Barbacoa Crispy Tacos', 'Veggie Salad Bowl',
       'Chips and Roasted Chili-Corn Salsa',
       'Chips and Roasted Chili Corn Salsa', 'Carnitas Soft Tacos',
       'Chicken Salad', 'Canned Soft Drink', 'Steak Salad Bowl',
       '6 Pack Soft Drink', 'Chips and Tomatillo-Red Chili Salsa', 'Bowl',
       'Burrito', 'Crispy Tacos', 'Carnitas Crispy Tacos', 'Steak Salad',
       'Chips and Mild Fresh Tomato Salsa', 'Veggie Soft Tacos',
       'Carnitas Salad Bowl', 'Barbacoa Salad Bowl', 'Salad',
       'Veggie Crispy Tacos', 'Veggie Salad', 'Carnitas Salad'],
      dtype=object)