# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [16]:
chipo=pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv')

### Step 4. How many products cost more than $10.00?

In [19]:
chipo.item_price=chipo.item_price.str.replace('$','').astype(float)

In [87]:
chipo[(chipo['item_price']>10.00) & (chipo['quantity']==1)].drop_duplicates('item_name')

,order_id,quantity,item_name,choice_description,item_price
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98
39,19,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.75
57,26,1,Veggie Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
62,28,1,Veggie Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
79,35,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Cheese, Lett...",11.25
90,40,1,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",11.75
93,41,1,Carnitas Burrito,"[Roasted Chili Corn Salsa, [Sour Cream, Guacam...",11.75
97,43,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.75
130,57,1,Barbacoa Burrito,"[Roasted Chili Corn Salsa, [Rice, Pinto Beans,...",11.75
168,75,1,Barbacoa Crispy Tacos,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",11.75
186,83,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
250,109,1,Chicken Salad,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",10.98
365,158,1,Chicken Crispy Tacos,"[Tomatillo Green Chili Salsa, [Black Beans, Ch...",11.25
606,250,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Pinto Beans, Cheese, Gua...",11.89
738,304,1,Veggie Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
988,406,1,Barbacoa Soft Tacos,"[Tomatillo Red Chili Salsa, [Black Beans, Chee...",11.75
1008,413,1,Carnitas Crispy Tacos,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",11.75
1132,468,1,Carnitas Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",11.89
1189,488,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1229,501,1,Barbacoa Salad Bowl,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",11.89
1353,552,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",11.75
1963,793,1,Carnitas Soft Tacos,"[Fresh Tomato Salsa, [Sour Cream, Guacamole]]",11.75
2231,899,1,Steak Crispy Tacos,"[Fresh Tomato Salsa, Guacamole]",11.75

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [89]:
chipo.drop_duplicates('item_name').loc[chipo['quantity']==1].sort_values('item_price',ascending=False).loc[:,['item_name','item_price']]

                                  item_name  item_price
1229                    Barbacoa Salad Bowl       11.89
1132                    Carnitas Salad Bowl       11.89
39                            Barbacoa Bowl       11.75
7                             Steak Burrito       11.75
168                   Barbacoa Crispy Tacos       11.75
186                       Veggie Salad Bowl       11.25
738                       Veggie Soft Tacos       11.25
57                           Veggie Burrito       11.25
62                              Veggie Bowl       11.25
250                           Chicken Salad       10.98
56                      Barbacoa Soft Tacos        9.25
92                       Steak Crispy Tacos        9.25
237                     Carnitas Soft Tacos        9.25
8                          Steak Soft Tacos        9.25
554                   Carnitas Crispy Tacos        9.25
54                               Steak Bowl        8.99
664                             Steak Salad        8.99
3750                         Carnitas Salad        8.99
33                            Carnitas Bowl        8.99
27                         Carnitas Burrito        8.99
21                         Barbacoa Burrito        8.99
44                       Chicken Salad Bowl        8.75
12                       Chicken Soft Tacos        8.75
11                     Chicken Crispy Tacos        8.75
1694                           Veggie Salad        8.49
1653                    Veggie Crispy Tacos        8.49
16                          Chicken Burrito        8.49
1414                                  Salad        7.40
520                            Crispy Tacos        7.40
510                                 Burrito        7.40
298                       6 Pack Soft Drink        6.49
10                      Chips and Guacamole        4.45
2                          Nantucket Nectar        3.39
1                                      Izze        3.39
674       Chips and Mild Fresh Tomato Salsa        3.00
233      Chips and Roasted Chili Corn Salsa        2.95
111     Chips and Tomatillo Red Chili Salsa        2.95
38    Chips and Tomatillo Green Chili Salsa        2.95
300     Chips and Tomatillo-Red Chili Salsa        2.39
191      Chips and Roasted Chili-Corn Salsa        2.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
0              Chips and Fresh Tomato Salsa        2.39
40                                    Chips        2.15
6                             Side of Chips        1.69
263                       Canned Soft Drink        1.25
34                            Bottled Water        1.09

### Step 6. Sort by the name of the item

In [24]:
chipo.sort_values('item_name').reset_index(drop=True)

,order_id,quantity,item_name,choice_description,item_price
0,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
1,148,1,6 Pack Soft Drink,[Diet Coke],6.49
2,749,1,6 Pack Soft Drink,[Coke],6.49
3,754,1,6 Pack Soft Drink,[Diet Coke],6.49
4,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...
4617,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
4618,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
4619,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
4620,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
4621,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [83]:
chipo.sort_values('item_price',ascending=False).head(1)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [40]:
chipo.item_name.value_counts().loc['Veggie Salad Bowl']

18

### Step 9. How many times did someone order more than one Canned Soda?

In [47]:
chipo[(chipo['item_name']=='Canned Soda') & (chipo['quantity']>1)].count()[0]

20