## Exercise 1: Write a function to sort the list based on the first letter of the second element

lst=[(19542209, "New York") ,(4887871, "Alabama"), (1420491, "Hawaii"), (626299, "Vermont"), (1805832, "West Virginia"), (39865590, "California")]

In [25]:
#Declaring list
lst=[(19542209, "New York") ,(4887871, "Alabama"), (1420491, "Hawaii"), (626299, "Vermont"), (1805832, "West Virginia"), (39865590, "California")]

In [151]:
#Sort function
def sort(lst):
    final_list=[]
    sort_list=[]
    #Iterating through list
    for index,name in enumerate(lst):
        #Appending word from the list
        final_list.append(name[1])
    #Sorting list
    final_list.sort()
    for i in final_list:
        for y in lst:
            if i==y[1]:
                sort_list.append(y)
                break
    return(sort_list)

In [68]:
from functools import reduce

In [152]:
sorted_list=sort(lst)

In [153]:
print('Original List:',lst)
print('\nSorted List:',sort_list)

Original List: [(19542209, 'New York'), (4887871, 'Alabama'), (1420491, 'Hawaii'), (626299, 'Vermont'), (1805832, 'West Virginia'), (39865590, 'California')]

Sorted List: [(1805832, 'West Virginia'), (39865590, 'California'), (4887871, 'Alabama'), (1420491, 'Hawaii'), (19542209, 'New York'), (626299, 'Vermont')]

Original list: [(19542209, 'New York'), (4887871, 'Alabama'), (1420491, 'Hawaii'), (626299, 'Vermont'), (1805832, 'West Virginia'), (39865590, 'California')]
Sorted list: [(4887871, 'Alabama'), (39865590, 'California'), (1420491, 'Hawaii'), (19542209, 'New York'), (626299, 'Vermont'), (1805832, 'West Virginia')]

## Exercise 2:  Write a function to sort the list based on the last letter of the second element

Use list from previous question

In [ ]:
def reverse_sort(lst):
    final_list=[]
    sort_list=[]
    for index,name in enumerate(lst):
        #Appending the reversed word.
        final_list.append(name[1][::-1])
    final_list.sort()
    for i in final_list:
        for y in lst:
            if i[::-1]==y[1]:
                sort_list.append(y)
                break
    return(sort_list)

In [ ]:
#Calling the function
rever_list=reverse_sort(lst)

In [53]:
print('Original List:',lst)
print('Sorted List:',rever_list)

Original List: [(19542209, 'New York'), (4887871, 'Alabama'), (1420491, 'Hawaii'), (626299, 'Vermont'), (1805832, 'West Virginia'), (39865590, 'California')]
Sorted List: [(1805832, 'West Virginia'), (39865590, 'California'), (4887871, 'Alabama'), (1420491, 'Hawaii'), (19542209, 'New York'), (626299, 'Vermont')]

Original list [(19542209, 'New York'), (4887871, 'Alabama'), (1420491, 'Hawaii'), (626299, 'Vermont'), (1805832, 'West Virginia'), (39865590, 'California')]
Sorted list [(4887871, 'Alabama'), (1805832, 'West Virginia'), (39865590, 'California'), (1420491, 'Hawaii'), (19542209, 'New York'), (626299, 'Vermont')]

## Exercise 3: Create a range from 1 to 8 merge the given list and together to create a new list of tuples.

lst1=["Energy", "Agriculture", "Industry", "Technology", "Finance", "Forestry", "Transport"]

In [54]:
lst1=["Energy", "Agriculture", "Industry", "Technology", "Finance", "Forestry", "Transport"]
index=list(range(1,9))

In [56]:
#Merging index and words using zip function.
index_list=list(map(lambda x:x,zip(lst1,index)))

In [58]:
print(index_list)

[('Energy', 1), ('Agriculture', 2), ('Industry', 3), ('Technology', 4), ('Finance', 5), ('Forestry', 6), ('Transport', 7)]

[('Energy', 1), ('Agriculture', 2), ('Industry', 3), ('Technology', 4), ('Finance', 5), ('Forestry', 6), ('Transport', 7)]

## Exercise 4: Write a function and create a list consisted of the number of occurence of letter: a (all a's).

lst1=["Antartica", "America", "Armania", "Australia", "Albania", "Afganistan","Alaska"]

In [59]:
lst2=["Antartica", "America", "Armania", "Australia", "Albania", "Afganistan","Alaska"]

In [154]:
#Getting the count of letter a in word.
count_a=[x.lower().count('a') for x in lst2]

In [155]:
print('Count of alphabet a in list:',count_a)

Count of alphabet a in list: [3, 2, 3, 3, 3, 3, 3]

[3, 2, 3, 3, 3, 3, 3]

## Exercise 5: Write a function filter all the vowels in a given string using filter.

str1="Inceptz is one of the best institutes to read data science in chennai"

In [67]:
str1="Inceptz is one of the best institutes to read data science in chennai"
vowels=['a','e','i','o','u']

In [84]:
#Getting the vowels from the word.
def vowels(i):
    vowels=['a','e','i','o','u']
    word=list(i)
    for y in word:
        if y.lower() in vowels:
            return y

In [85]:
vowel_list=list(filter(vowels,str1))

In [87]:
print(vowel_list)

['I', 'e', 'i', 'o', 'e', 'o', 'e', 'e', 'i', 'i', 'u', 'e', 'o', 'e', 'a', 'a', 'a', 'i', 'e', 'e', 'i', 'e', 'a', 'i']

['I', 'e', 'i', 'o', 'e', 'o', 'e', 'e', 'i', 'i', 'u', 'e', 'o', 'e', 'a', 'a', 'a', 'i', 'e', 'e', 'i', 'e', 'a', 'i']

## Exercise 6:  Write a function to create a list as the square of elements from the given list if the square is greater than 60

lst1=[5, 6, 7 , 8, 9, 10, 12, 14]

In [2]:
lst3=[5, 6, 7 , 8, 9, 10, 12, 14]

In [14]:
#Using list comprehension
square_list=[x**2 for x in lst3 if x**2>60 ]

In [15]:
print(square_list)

[64, 81, 100, 144, 196]

In [6]:
#Using Lambda function
num=list(filter(lambda x: print(x**2) if x**2>60 else False,lst3))

64
81
100
144
196

[64, 81, 100, 144, 196]

## Exercise 7: take the words given below as list and write a function and use reduce to make it a sentence
Inceptz 

provides

the

best

inclass 

trainings 

and

is 

the 

best

In [18]:
lst4=['Inceptz','provides','the','best','inclass','trainings','and','is','the','best']

In [22]:
from functools import reduce
reduce(lambda x,y:x +' '+y,lst4)

'Inceptz provides the best inclass trainings and is the best'

In [24]:
lst4[1]+lst4[2]

'providesthe'

'Inceptez provides the best inclass trainings and is the best'